:root {
    --background-main-color: #ffffff;
    --background-second-color: #2E2F42;
    --main-title-color: #2E2F42;
    --main-text-color: #434455;
    --porttfolio-background-color: #ffffff;
    --portfolio-title-color: #2E2F42;
    --portfolio-text-color: #434455;
    --portfolio-title-font-weight: 500;
    --body-background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: var(--body-background-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

/*---------------HEADER---------------*/
.header {
    background: var(--background-main-color, #ffffff);
    padding-top: 25.5px;
}

.header-container {
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    margin-right: 76px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: flex;
    gap: 40px;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.header-item {
    display: flex;
    gap: 40px;
}

.header-contact {
    font-style: normal;
}

.header-contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contact-item {}

.header-contact-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: #404bbf;
}

/*---------------HERO---------------*/

.hero {
    background-color: #2e2f42;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    min-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 188px;
    margin-bottom: 48px;
}

.hero-container-bnt {
    display: block;
    padding-bottom: 188px;
}

.hero-btn {
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
    color: #ffffff;
    background-color: #404BBF;
}

/*---------------ADVANTAGES---------------*/
.advantages {
    background-color: #FFFFFF;
    padding-top: 120px;
}

.wrap {
    display: flex;
    gap: 24px;
}

.advantages-list {}

.advantages-item {}

.advantages-title {
    width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--main-title-color, #2E2F42);
}

.advantages-text {
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--main-text-color, #434455);
    margin-top: 8px;
}

/*---------------WORKS---------------*/
.works {
    background-color: #FFFFFF;
    padding-top: 120px;
}

.wrap-wors {
    display: flex;
    gap: 24px;
}

.works-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color, #2E2F42);
    margin-bottom: 72px;
}

.works-list {}

.works-item {
    padding-bottom: 120px;
}

/*---------------TEAM---------------*/
.team {
    background-color: #F4F4FD;
    padding-top: 120px;
}

.container-team {}

.wrap-team {
    display: flex;
    gap: 24px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
    padding-top: 120px;
}


.team-list {
    padding-top: 72px;
    padding-bottom: 152px;
}

.team-card {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.team-item {}

.team-item {}

.team-title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-top: 32px;
}

.team-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-top: 8px;
    padding-bottom: 32px;

}


/*---------------FOOTER---------------*/
.footer {
    background: var(--background-second-color, #2E2F42);
    padding-top: 100px;
}

.wrap-footer {}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin-top: 16px;
    padding-bottom: 100px;
}

/*---------------PORTFOLIO---------------*/
.portfolio {
    background-color: var(--background-main-color, #ffffff);

}


.wrap-button {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.button-menu-item {}

.button-menu-list {
    padding-top: 96px;
}

.button-menu-btn {
    min-width: 116px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
    border: 0;
}

.button-menu-btn:hover,
.button-menu-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
}

.portfolio-container {}

.portfolio-list {
    padding-top: 72px;
    padding-bottom: 120px;

}

.wrap-portfolio {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.portfolio-item {}

.banking-title {}

.banking-text {}

.portfolio-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: var(--portfolio-title-font-weight, 500);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--portfolio-title-color, #2E2F42);
    margin-top: 32px;
    padding-left: 16px;
}

.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--portfolio-text-color, #2E2F42);
    margin-top: 8px;
    padding-bottom: 48px;
    padding-left: 16px;

}

.portfolio-card {
    border: 1px solid #E7E9FC;
}